.header1
{
  background-color: #365;
  margin-top: 73px;
  width: 100%;
  height: auto;
}

.header-for
{
  background-color: #2C2E31;
  margin-top: 73px;
  width: 100%;
  height: auto;
}
.header-head
{
  color: white;
}
.header-exp
{
  background-color: green;
    margin-top: 73px;
  width: 100%;
  height: auto;
}

